/* --- Compiled by Dartegnian --- */
/* CSS MUST-HAVES */
body {
	margin: 0;
}
a {
	text-decoration: none;
}
button {
    outline: none;
}
/* Further customization stuff, works mostly on Chromium */
::selection {
    background: #0076ff;
    color: white;
}
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background: white;
}
::-webkit-scrollbar-thumb {
    background-color: #0076ff;
    border-radius: 0px;
    -webkit-border-radius: 0px;
}
a {
	color: #0076ff;
}
section#filler {
    height: 140px;
    background-color: #f5f7f6;
}
nav a {
    transition: all .50s;
    color: white;
    font-family: Helvetica;
    font-weight: 100;
    padding: 0px;
    padding-right: 30px;
    text-align: left;
    font-size: 20px;
}
nav {
    padding-left: 30px;
}
nav a:hover {
    color: #0099ff;
}
nav #current {
    color: #0076ff;
}
header {
    width: 100%;
	z-index: 10;
    position: fixed;
    padding-top: 30px;
    padding-bottom: 20px;
    background: rgba(0, 0, 0, 0.7);
	box-shadow: 0 1px 3px rgba(42,44,58,.15), 0 1px 2px rgba(129,165,238,.2);
	backdrop-filter: blur(10px); /* chrome://flags/#enable-experimental-web-platform-features */
}
header img {
    width: 330px;
    padding-left: 30px;
    padding-bottom: 20px;
}
footer {
    background-color: #ebefee;
	padding: 30px;
	position: relative;
}
#hero h1 {
    
}
#hero {
	height: 250px;
    background-color: #0076ff;
    background: url(../images/officedark.jpg) no-repeat center center fixed;
	padding: 20px;
	text-align: center;
	color: white;
	font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
    font-weight: 700;
    background-size: cover;
	font-size: 30px;
}
#apcfooter {
    background: url(../images/APC.jpg);
    background-size: 100% 57%;
    background-attachment: fixed;
    height: 20px;
	color: white;
	font-family: 'Segoe UI Light', Arial, Helvetica, sans-serif;
	letter-spacing: 0.6px;
    text-transform: uppercase;
}
#apcfooter a {
	color: white;
}
#backtotop {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 10px;
    font-size: 18px;
    line-height: 40px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -30px;
    margin-top: -30px;
	z-index: 3;
	text-align: center;
	background-color: #f3f5f4;
    color: #525253;
	transition: all .50s ease-in-out;
    box-shadow: 0 1px 3px rgba(42,44,58,.25), 0 1px 2px rgba(129,165,238,.2);
}
#chevron {
    color: #0076ff;
	display: inline-block;
	font-family: 'Segoe MDL2 Assets';
	font-style: normal;
	font-size: 25px;
	margin-top: 9px;
}
#chevron:before {
	content: '\e70e';
}